/*Common start*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
  color: white;
}

img {
  width: 100%;
  height: auto;
}

.wrapper {
  max-width: 65%;
  padding: 0 10px;
  margin: 0 auto;
}

.wrapper__contentWrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/*Common end*/

/*Header start*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.4s linear;
  z-index: 900;
  background: rgba(16, 16, 29, 0.9);
}

.header__active {
  background: rgba(16, 16, 29, 1);
}

.header__wrapper {
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__wrapper__logoLink__pic {
  display: block;
  max-width: 180px;
  height: 35px;
}

/*Navigation panel start*/
.header__wrapper__nav__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__wrapper__nav__links__link {
  font-weight: 600;
  line-height: 15.6px;
  text-align: right;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  transition: transform 0.2s ease-out;
}

.header__wrapper__nav__links__link:hover {
  transform: scale(1.1);
}

.header__wrapper__nav__links__link:not(:last-child) {
  margin-right: 48px;
}

.header__wrapper__nav__links__link:first-child {
  color: rgba(67, 171, 240, 1);
}
/*Navigation panel end*/

/*Burger start */
.header__wrapper__burger {
  display: none;
  width: 30px;
  height: 28px;
  position: relative;
}

.burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  right: 0;
}

.burger__line__first {
  top: 0;
}

.burger__line__second {
  top: 50%;
  transform: translateY(-50%);
}

.burger__line__third {
  bottom: 0;
}
/*Burger end*/

/*Header end*/

/*Intro start*/
.intro {
  /* min-height: 100vh; */
  width: 100%;
  height: auto;
  background: url("img\\bg1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 162.4px;
  padding-bottom: 272px;
  color: rgba(0, 0, 0, 1);
}

.intro__wrapper__contentWrap__intro__title {
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  margin-bottom: 64px;
  text-transform: uppercase;
}

.intro__wrapper__contentWrap__intro__subtitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 8px;
}

.intro__wrapper__contentWrap__intro__list {
  list-style: none;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 64px;
}

.intro__wrapper__contentWrap__intro__list li:before {
  content: "—";
  position: relative;
  left: -5px;
  padding-left: 5px;
}

.intro__wrapper__contentWrap__intro__list li:not(:last-child) {
  margin-bottom: 5px;
}

.intro__wrapper__contentWrap__intro__search__form__button {
  border-radius: 4px;
  text-transform: uppercase;
  width: 183px;
  height: 43px;
  transition: 0.2s ease-out;
}

.intro__wrapper__contentWrap__intro__search__form__button:first-child {
  color: white;
  background: rgba(62, 156, 220, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  margin-right: 24px;
}
.intro__wrapper__contentWrap__intro__search__form__button:last-child {
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(111, 109, 123, 1);
}

.intro__wrapper__contentWrap__intro__search__form__button:hover,
.intro__wrapper__contentWrap__intro__search__form__button:focus {
  transform: scale(1.05);
}
/*Intro end*/

/*Order Offer start*/
.orderOffer {
  width: 100%;
  height: auto;
  background: url("img\\bg2.png") no-repeat center;
  background-color: rgba(39, 39, 51, 1);
  background-size: cover;
}

.orderOffer__contentWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.orderOffer__contentWrap h2 {
  margin-top: 67px;
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: 700;
  line-height: 34.56px;
}

.orderOffer__contentWra__subtitle {
  font-size: 14px;
  line-height: 17.28px;
  color: rgba(187, 187, 187, 1);
}

.orderOffer__contentWrap__stages__wrap {
  margin-top: 80px;
  display: flex;
  margin-bottom: 16px;
  justify-content: center;
  width: 100%;
}

.orderOffer__contentWrap__stages__wrap__circle {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.orderOffer__contentWrap__stages__wrap__circle__container,
.orderOffer__contentWrap__stages__wrap__circle__container--last {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: rgba(62, 156, 220, 1);
  border: 5px solid rgba(40, 102, 144, 1);
}

.orderOffer__contentWrap__stages__wrap__dots{
  --dotsWidth: 100%;
  width: var(--dotsWidth);
  display: flex;
  height: 4px;
  gap: calc(var(--dotsWidth) / 5) px;
  flex-wrap: nowrap;
  margin: 40px -22px 0 -22px;
  align-items: center;
  justify-content: space-between;
}

.orderOffer__contentWrap__stages__wrap__dots__item{
  background: rgba(196, 196, 196, 1);
  border-radius: 50%;
  width: 4px;
  height: 4px;
}

.orderOffer__contentWrap__stages__wrap__circle__container__pic {
  width: 44px;
  aspect-ratio: 1;
}

.orderOffer__contentWrap__stages__wrap__circle__container__pic--sm {
  width: 22px;
  aspect-ratio: 1;
}

.orderOffer__contentWrap__stages__wrap__circle p {
  margin-top: 16px;
  font-size: 12px;
  width: 150px;
  text-align: center;
}

/*Submit form start*/
.wrapper__contentWrap__form {
  margin-top: 80px;
  width: 100%;
}

.wrapper__contentWrap__form__wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.wrapper__contentWrap__form__wrap__info {
  width: 100%;
  font-size: 14px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.wrapper__contentWrap__form__wrap__info__field {
  height: 38px;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 4px;
}

.wrapper__contentWrap__form__wrap__info__rangeWrap {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  position: relative;
}

.wrapper__contentWrap__form__wrap__info__rangeWrap div {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper__contentWrap__form__wrap__info__rangeWrap__percentValue {
  font-weight: 600;
}

.wrapper__contentWrap__form__wrap__info__rangeWrap__button {
  position: absolute;
  bottom: 0;
}

.wrapper__contentWrap__form__wrap__info__rangeWrap__button[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: #ccc;
  border-radius: 10px;
  padding: 0;
  margin: 0;
}

.wrapper__contentWrap__form__wrap__info__rangeWrap__button[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  aspect-ratio: 1;
  background: rgba(66, 169, 237, 1);
  border: 3px solid rgba(40, 102, 144, 1);
  border-radius: 50%;
  cursor: grabbing;
}

.wrapper__contentWrap__form__wrap__info__field {
  position: relative;
}

input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.wrapper__contentWrap__form__wrap__info__doc {
  position: absolute;
  top: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  color: rgba(39, 39, 51, 1);
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  user-select: none;
  cursor: pointer;
}

.wrapper__contentWrap__form__wrap__info__doc__thumb {
  margin-top: -2px;
  margin-right: 2px;
  height: 15px;
  width: auto;
}

.wrapper__contentWrap__form__wrap__info__field::placeholder {
  padding-left: 8px;
  line-height: 21.6px;
  color: rgba(39, 39, 51, 1);
}

.wrapper__contentWrap__form__wrap__button {
  border-radius: 4px;
  font-weight: 500;
  line-height: 14.4px;
  width: 296px;
  height: 38px;
  color: white;
  background: rgba(62, 156, 220, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  text-transform: uppercase;
  padding: 12px 25.184px;
  transition: 0.2s ease-out;
}

.wrapper__contentWrap__form__wrap__button:hover,
.wrapper__contentWrap__form__wrap__button:focus {
  transform: scale(1.05);
}
/*Order Offer end*/

/*Review styles start */

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.orderOffer__contentWrap__slider {
  height: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  overflow: hidden;
  width: 500px;
}
.orderOffer__contentWrap__slider__btnWrap {
  width: 120%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.orderOffer__contentWrap__slider__btnWrap__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(62, 156, 220, 1);
  border: solid 1px rgba(62, 156, 220, 1);
}

.orderOffer__contentWrap__slider__btnWrap__btn:hover {
  transform: scale(1.2);
}

.orderOffer__contentWrap__slider__btnWrap__btn:disabled {
  background: lightgray;
}

.orderOffer__contentWrap__slider__item {
  color: black;
  font-size: 14px;
  background: white;
  border-radius: 10px;
  padding: 20px;
}

.orderOffer__contentWrap__slider__item__info {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  width: 460px;
}

.orderOffer__contentWrap__slider__item__info img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.orderOffer__contentWrap__slider__item__info__desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.orderOffer__contentWrap__slider__item__info__desc__name {
  margin-top: 10px;
  font-weight: 600;
}
.orderOffer__contentWrap__slider__item__info__desc__mark {
  display: flex;
  align-items: center;
}

.orderOffer__contentWrap__slider__item__info__desc__value {
  margin-left: 10px;
  font-weight: 600;
}

.orderOffer__contentWrap__slider__item__info__desc img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.orderOffer__contentWrap__slider__item__text {
  margin-top: 20px;
  text-align: center;
}

.orderOffer__contentWrap__slider__dotsWrap {
  margin-bottom: 66px;
  display: flex;
  gap: 6px;
}

.orderOffer__contentWrap__slider__dotsWrap__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgb(217, 217, 217);
}
.orderOffer__contentWrap__slider__dotsWrap__dot.active {
  background: rgba(62, 156, 220, 1);
  transform: scale(1.1);
}

/*Footer start*/
.footer {
  height: 64px;
  background: rgba(61, 64, 80, 1);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.footer__wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.footer__wrapper__info--full {
  width: 100%;
  font-size: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.footer__wrapper__info--small {
  display: none;
}

.footer__wrapper__info--full p {
  margin-right: 38px;
}

.footer__wrapper__info__pic {
  margin-right: 10px;
  height: 20px;
  width: 20px;
}

.first{
  margin-left: 38px;
}

.footer__wrapper__info__link {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.linkFirst {
  margin-right: 38px;
}

/*Footer end*/

/*Media start */
@media screen and (min-width: 961px) and (max-width: 1320px) {
  .wrapper {
    max-width: 75%;
  }

  .wrapper__contentWrap__form {
    max-width: 100%;
  }

  .header__wrapper__nav__links__link:not(:last-child) {
    margin-right: 30px;
  }

  .intro__wrapper__contentWrap__intro__title {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 54px;
    text-transform: uppercase;
  }

  .intro__wrapper__contentWrap__intro__subtitle {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
  }

  .intro__wrapper__contentWrap__intro__list {
    list-style: none;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  .orderOffer__contentWrap__stages__wrap__circle p{
    width: 120px;
  }

  .orderOffer__contentWrap__stages__wrap__dots {
    margin: 40px -4px 0 -4px;
  }
  

  .intro__wrapper__contentWrap__intro__search__form__button {
    border-radius: 4px;
    text-transform: uppercase;
    width: 145px;
    height: 38px;
    transition: 0.2s ease-out;
  }

  .wrapper__contentWrap__form__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
  }

  .wrapper__contentWrap__form__wrap__info {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .wrapper__contentWrap__form__wrap__info__field {
    font-size: 12px;
    height: 40px;
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
  }

  .footer__wrapper__info--small {
    display: none;
  }

  .footer__wrapper__info__pic {
    margin-right: 10px;
  }

  .footer__wrapper__info--full p {
    margin-right: 20px;
  }
  
  .first{
    margin-left: 20px;
  }
    
  .linkFirst {
    margin-right: 20px;
  }
}

@media screen and (min-width: 721px) and (max-width: 960px) {
  .wrapper {
    max-width: 85%;
  }

  .header__wrapper__nav__links__link:not(:last-child) {
    margin-right: 30px;
  }

  .intro__wrapper__contentWrap__intro__title {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 48px;
    text-transform: uppercase;
  }

  .intro__wrapper__contentWrap__intro__subtitle {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
  }

  .intro__wrapper__contentWrap__intro__list {
    list-style: none;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 48px;
  }
  
  .orderOffer__contentWrap__stages__wrap__dots {
    margin: 40px 0 0 0;
  }

  .orderOffer__contentWrap__stages__wrap__dots__item:nth-child(4),
  .orderOffer__contentWrap__stages__wrap__dots__item:nth-child(5){
    display: none;
  }

  .orderOffer__contentWrap__stages__wrap__circle p{
    width: 100px;
  }

  .intro__wrapper__contentWrap__intro__search__form__button {
    border-radius: 4px;
    text-transform: uppercase;
    width: 145px;
    height: 38px;
    transition: 0.2s ease-out;
  }

  .wrapper__contentWrap__form {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
  }

  .wrapper__contentWrap__form__wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .orderOffer__contentWrap__stages__wrap__dots__item

  .wrapper__contentWrap__form__wrap__info {
    width: 100%;
    font-size: 14px;
    display: grid;
    --gap: 15px;
    grid-template-columns: repeat(
      2,
      minmax(120px, calc((100% - var(--gap)) / 2))
    );
    grid-template-rows: repeat(3, 1fr);
    gap: var(--gap);
  }

  .wrapper__contentWrap__form__wrap__info__field {
    font-size: 12px;
    width: calc((var(--width) - var(--gap)) / 2) px;
    height: 40px;
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
  }


  .wrapper__contentWrap__form__wrap__info__rangeWrap {
    position: relative;
  }

  .wrapper__contentWrap__form__wrap__info__rangeWrap div {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .wrapper__contentWrap__form__wrap__info__rangeWrap div p {
    font-size: 12px;
  }

  .wrapper__contentWrap__form__wrap__info__doc__thumb {
    margin-top: -2px;
    margin-right: 2px;
    height: 15px;
    width: auto;
  }

  .wrapper__contentWrap__form__wrap__button {
    height: 40px;
    width: 100%;
  }

  .footer__wrapper__info--small {
    display: none;
  }

  .footer__wrapper__info--full p {
    margin-right: 20px;
  }

  .footer__wrapper__info__pic {
    margin-right: 10px;
    height: 20px;
    width: 20px;
  }

  .first{
    margin-left: 20px;
  }
    
  .linkFirst {
    margin-right: 20px;
  }
}

@media screen and (min-width: 541px) and (max-width: 720px) {
  .wrapper {
    max-width: 90%;
  }

  .header__wrapper__nav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(16, 16, 29, 1);
    z-index: 999;
    padding: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: 0.2s all linear;
  }

  .header__wrapper__nav__active {
    transform: translateX(0);
  }

  .header__wrapper__nav__links {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    font-size: 28px;
  }

  .header__wrapper__nav__links__link:not(:last-child) {
    line-height: 32px;
    margin: 0;
  }

  .header__wrapper__nav__links__link:last-child {
    line-height: 32px;
    text-align: center;
    margin: 0;
  }

  .header__wrapper__burger {
    display: block;
  }

  .header__wrapper__nav__close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    z-index: 11;
  }

  .header__wrapper__nav__close__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 50%;
  }
  .header__wrapper__nav__close__line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }

  .header__wrapper__nav__close__line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }

  /* Intro */
  .intro {
    width: 100%;
    height: auto;
    background: url("img\\bg1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 162.4px;
    padding-bottom: 200px;
    color: rgba(0, 0, 0, 1);
  }

  .intro__wrapper__contentWrap__intro__title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  .intro__wrapper__contentWrap__intro__subtitle {
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 8px;
  }

  .intro__wrapper__contentWrap__intro__list {
    list-style: none;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 40px;
  }

  .intro__wrapper__contentWrap__intro__search__form__button {
    border-radius: 4px;
    text-transform: uppercase;
    width: 325px;
    height: 43px;
  }

  .intro__wrapper__contentWrap__intro__search__form__button:first-child {
    color: white;
    background: rgba(62, 156, 220, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    margin-bottom: 20px;
  }

  .intro__wrapper__contentWrap__intro__search__form__button:first-child:active,
  .intro__wrapper__contentWrap__intro__search__form__button:first-child:hover {
    background: rgb(27, 65, 119);
    font-weight: 600;
    transform: scale(1);
  }

  .intro__wrapper__contentWrap__intro__search__form__button:last-child:active,
  .intro__wrapper__contentWrap__intro__search__form__button:last-child:hover {
    background: rgb(29, 29, 51);
    color: white;
    font-weight: 600;
    transform: scale(1);
  }

  .header_wrapper__burger {
    display: block;
  }

  /* Main header*/
  .orderOffer__contentWrap h2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 16px;
    font-size: 32px;
  }

  .orderOffer__contentWrap > p {
    text-align: center;
    font-size: 14px;
    color: rgba(187, 187, 187, 1);
  }
  /*steps*/

  .orderOffer__contentWrap__stages__wrap {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 70px;
  }

  .orderOffer__contentWrap__stages__wrap__circle {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .orderOffer__contentWrap__stages__wrap__circle:not(:last-child) {
    margin-right: 48px;
  }

  .orderOffer__contentWrap__stages__wrap__circle__container {
  }


  .orderOffer__contentWrap__stages__wrap__dots{
    display: none;
  }


  .orderOffer__contentWrap__stages__wrap__circle__container:after {
    content: "\2022 \2022 \2022";
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: rgba(196, 196, 196, 1);
    position: absolute;
    font-size: 8px;
    letter-spacing: 8px;
    left: 50%;
    transform: translateX(-50%);
    top: 110px;
  }

  .orderOffer__contentWrap__stages__wrap__circle p {
    margin-top: 5px;
    font-weight: 600;
    text-align: center;
  }
  /* Submit form */

  .wrapper__contentWrap__form {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
  }

  .wrapper__contentWrap__form__wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .wrapper__contentWrap__form__wrap__info {
    width: 100%;
    font-size: 14px;
    display: grid;
    --gap: 15px;
    grid-template-columns: repeat(
      2,
      minmax(120px, calc((100% - var(--gap)) / 2))
    );
    grid-template-rows: repeat(3, 1fr);
    gap: var(--gap);
  }

  .wrapper__contentWrap__form__wrap__info__field {
    font-size: 12px;
    width: calc((var(--width) - var(--gap)) / 2) px;
    height: 40px;
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
  }

  .wrapper__contentWrap__form__wrap__info__field:first-child {
    grid-column-start: 1;
    grid-row-start: 3;
  }

  .wrapper__contentWrap__form__wrap__info__field:nth-child(3) {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .wrapper__contentWrap__form__wrap__info__rangeWrap {
    position: relative;
  }

  .wrapper__contentWrap__form__wrap__info__rangeWrap div {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .wrapper__contentWrap__form__wrap__info__rangeWrap div p {
    font-size: 12px;
  }

  .wrapper__contentWrap__form__wrap__info__doc__thumb {
    margin-top: -2px;
    margin-right: 2px;
    height: 15px;
    width: auto;
  }

  .wrapper__contentWrap__form__wrap__button {
    height: 40px;
    width: 100%;
  }

  .orderOffer__contentWrap__slider__btnWrap {
    top: auto;
    bottom: 20px;
    width: 150px;
    transform: none;
  }

  .orderOffer__contentWrap__slider__dotsWrap {
    position: absolute;
    bottom: 35px;
    margin-bottom: 0;
    display: flex;
  }

  .orderOffer__contentWrap__slider {
    margin-bottom: 80px;
  }

  /*footer*/

  .footer {
    height: auto;
  }

  .footer__wrapper__info--full {
    display: none;
  }

  .footer__wrapper__info--small {
    display: block;
  }

  .footer {
    font-size: 12px;
  }

  .footer p {
    font-size: 12px;
    color: rgba(250, 235, 215, 0.611);
    margin: 20px 0 15px 0;
  }

  .footer__wrapper_info__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
    margin-top: 15px;
  }

  .footer__wrapper_info__wrap img {
    width: 14px;
    aspect-ratio: 1;
  }

  .footer__wrapper__info__link {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
  }
}

@media screen and (min-width: 320px) and (max-width: 540px) {
  .wrapper {
    max-width: 90%;
  }

  .header__wrapper__nav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(16, 16, 29, 1);
    z-index: 999;
    padding: 75px;
    display: flex;
    flex-wrap: wrap;
    transform: translateX(100%);
    transition: 0.2s all linear;
  }

  .header__wrapper__nav__active {
    transform: translateX(0);
  }

  .header__wrapper__nav__links {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    font-size: 28px;
  }

  .header__wrapper__nav__links__link:not(:last-child) {
    line-height: 32px;
    margin: 0;
  }

  .header__wrapper__nav__links__link:last-child {
    line-height: 32px;
    text-align: center;
    margin: 0;
  }

  .header__wrapper__burger {
    display: block;
  }

  .header__wrapper__nav__close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    z-index: 11;
  }

  .header__wrapper__nav__close__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 50%;
  }
  .header__wrapper__nav__close__line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }

  .header__wrapper__nav__close__line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }

  /* Intro */
  .intro {
    width: 100%;
    height: auto;
    background: url("img\\bg1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 162.4px;
    padding-bottom: 200px;
    color: rgba(0, 0, 0, 1);
  }

  .intro__wrapper__contentWrap__intro__title {
    font-size: 28px;
    line-height: 30px;
    margin-top: -40px;
    margin-bottom: 40px;
    text-transform: uppercase;
    text-align: center;
  }

  .intro__wrapper__contentWrap__intro__subtitle {
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 8px;
  }

  .intro__wrapper__contentWrap__intro__list {
    list-style: none;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 40px;
  }

  .intro__wrapper__contentWrap__intro__search__form__button {
    border-radius: 4px;
    text-transform: uppercase;
    width: 100%;
    height: 43px;
  }

  .intro__wrapper__contentWrap__intro__search__form__button:first-child {
    color: white;
    background: rgba(62, 156, 220, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    margin-bottom: 24px;
  }

  .intro__wrapper__contentWrap__intro__search__form__button:first-child:active,
  .intro__wrapper__contentWrap__intro__search__form__button:first-child:hover {
    background: rgb(27, 65, 119);
    font-weight: 600;
    transform: scale(1);
  }

  .intro__wrapper__contentWrap__intro__search__form__button:last-child:active,
  .intro__wrapper__contentWrap__intro__search__form__button:last-child:hover {
    background: rgb(29, 29, 51);
    color: white;
    font-weight: 600;
    transform: scale(1);
  }
  /* Main header*/
  .orderOffer__contentWrap h2 {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 16px;
    font-size: 28px;
  }

  .orderOffer__contentWra__subtitle {
    text-align: center;
    font-size: 12px;
    color: rgba(187, 187, 187, 1);
  }
  /*steps*/

  .orderOffer__contentWrap__stages__wrap {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 70px;
  }

  .orderOffer__contentWrap__stages__wrap__circle {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .orderOffer__contentWrap__stages__wrap__circle:not(:last-child) {
    margin-right: 48px;
  }

  .orderOffer__contentWrap__stages__wrap__dots{
    display: none;
  }

  .orderOffer__contentWrap__stages__wrap__circle__container {
  }
  .orderOffer__contentWrap__stages__wrap__circle__container:after {
    content: "\2022 \2022 \2022";
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: rgba(196, 196, 196, 1);
    position: absolute;
    font-size: 8px;
    letter-spacing: 8px;
    left: 50%;
    transform: translateX(-50%);
    top: 110px;
  }

  .orderOffer__contentWrap__stages__wrap__circle p {
    margin-top: 5px;
    font-weight: 600;
    text-align: center;
  }
  /* Submit form */

  .wrapper__contentWrap__form {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
  }

  .wrapper__contentWrap__form__wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .wrapper__contentWrap__form__wrap__info {
    width: 100%;
    font-size: 14px;
    display: grid;
    --gap: 15px;
    grid-template-columns: repeat(
      2,
      minmax(120px, calc((100% - var(--gap)) / 2))
    );
    grid-template-rows: repeat(3, 1fr);
    gap: var(--gap);
  }

  .wrapper__contentWrap__form__wrap__info__field {
    font-size: 12px;
    width: calc((var(--width) - var(--gap)) / 2) px;
    height: 40px;
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
  }

  .wrapper__contentWrap__form__wrap__info__field:first-child {
    grid-column-start: 1;
    grid-row-start: 3;
  }

  .wrapper__contentWrap__form__wrap__info__field:nth-child(3) {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .wrapper__contentWrap__form__wrap__info__rangeWrap {
    position: relative;
  }

  .wrapper__contentWrap__form__wrap__info__rangeWrap div {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .wrapper__contentWrap__form__wrap__info__rangeWrap div p {
    font-size: 12px;
  }

  .wrapper__contentWrap__form__wrap__info__doc {
    top: 10px;
  }

  .wrapper__contentWrap__form__wrap__info__doc__thumb {
    margin-top: -2px;
    margin-right: 2px;
    height: 15px;
    width: auto;
  }

  .wrapper__contentWrap__form__wrap__button {
    height: 40px;
    width: 100%;
  }

  .orderOffer__contentWrap__slider__btnWrap {
    top: auto;
    bottom: 20px;
    width: 150px;
    transform: none;
  }

  .orderOffer__contentWrap__slider__dotsWrap {
    position: absolute;
    bottom: 35px;
    margin-bottom: 0;
    display: flex;
  }

  .orderOffer__contentWrap__slider {
    width: 320px;
    margin-bottom: 80px;
  }

  .orderOffer__contentWrap__slider__item__info {
    width: 280px;
  }

  /*footer*/

  .footer {
    height: auto;
  }

  .footer__wrapper__info--full {
    display: none;
  }

  .footer__wrapper__info--small {
    display: block;
  }

  .footer {
    font-size: 12px;
  }

  .footer p {
    font-size: 12px;
    color: rgba(250, 235, 215, 0.611);
    margin: 20px 0 15px 0;
  }

  .footer__wrapper_info__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
    margin-top: 15px;
  }

  .footer__wrapper_info__wrap img {
    width: 14px;
    aspect-ratio: 1;
  }

  .footer__wrapper__info__link {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
  }
}
/*Media  end*/
